[submodule "poliacciones_backend"]
	path = poliacciones_backend
	url = https://github.com/JotaValla/poliacciones_backend
	path = poliacciones_front
	url = https://github.com/JotaValla/poliacciones_front
